# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.medimg_env/

# Environment variables (VERY IMPORTANT)
env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/